.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer__wrap--table {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer__wrap {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.footer__link {
  margin-bottom: 20px;
  display: inline-block;
  span {
    color: #ffffff;
  }
}

.footer__adres {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: start;
  }
}

.footer-social {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-social__title {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.footer-social--color {
  background-color: rgba(255, 255, 255, 0.1);
  svg {
    fill: #ffffff;
  }
}
