.header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 83px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
