.hero {
  background-color: #2f303a;
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  width: 100vw;
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.hero__title {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--main-title-color);
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: inline-block;
  padding-left: 32px;
  padding-right: 32px;
}
