.check__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  color: var(--second-text-color);
  @media screen and (max-width: 450px) {
    font-size: 10px;
    line-height: 1;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check__box {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

.check__icon {
  fill: #ffffff;
}

.check__link {
  color: var(--accent-color);
  margin-left: 3px;
  text-decoration-line: underline;
  text-underline-position: under;
}

.check__input:checked + .check__label .check__box {
  background-color: var(--accent-color);
  border: none;
}
