.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__text {
  color: #000000;
}

.footer-link .logo {
  color: #ffffff;
}
