.mailing__mail {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--third-text-color);
  outline: none;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.mailing__btn {
  padding-left: 29px;
}

.mailing__picture {
  margin-left: 10px;
  fill: #ffffff;
}

.mailing__btn--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailing__wrap {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 500px;
    margin: 0 auto;
  }
}
