.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) translateY(-500px) translateX(-2500px) rotate(-90deg);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover,
.close-icon .modal-close:focus .close__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
